*{margin: 0;
padding:0;
box-sizing: border-box;

}
h1{
    color:white;
    text-align: center;
    background-color: black;  
    margin: 10px;
    margin-bottom: 10px;
}
img{
    position: left;
    width: 200px;
    height: 200px;

box

}
main{
    column-count: 3;
}
body{background-color: antiquewhite;}